[Desktop Entry]
Type=Application
Name=DeckBorne
Comment=Install Bloodborne on Steam Deck via shadPS4
Exec=bash -c 'exec "$(dirname "%k")/ui/run.sh"'
Icon=applications-games
Categories=Game;
Terminal=false
